build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.moved-aside
*.xcuserstate
*.xccheckout
*.plugins


MioFit/Model/Learning.swift


.swiftpm/xcode/

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

*.xcconfig
*.env
keys.plist
